hs.localhost {
	reverse_proxy localhost:5000
}

assets.hs.localhost {
  reverse_proxy localhost:5173
}

admin.hs.localhost {
  reverse_proxy localhost:5174
}

mail.hs.localhost {
  reverse_proxy localhost:8025
}
