[tools]
go = "1.26"
"go:github.com/air-verse/air" = "latest"
"go:github.com/pressly/goose/v3/cmd/goose" = "latest"
"go:github.com/sqlc-dev/sqlc/cmd/sqlc" = "latest"
node = "latest"
pnpm = "latest"
prettier = "latest"

[env]
PGDATABASE = "homeosapiens_dev"
PGUSER = "postgres"
PGPASSWORD = "postgres"
PGHOST = "localhost"
DATABASE_URL = "postgres://postgres:postgres@localhost:5432/{{ env.PGDATABASE }}?options=-c+TimeZone%3DUTC"
GOOSE_DBSTRING = "{{ env.DATABASE_URL }}"
GOOSE_DRIVER = "postgres"
GOOSE_MIGRATION_DIR = "db/migrations"
SECRET_KEY_BASE = "YhTVeJ58o+vuYEvASxp68UMydUhvMsAOQZkCmlEeAE/IVJ/WkpjXS0+spVyWttR0ZMs0aKbbx+jkqV7oD9Lp+w=="
TEST_DATABASE = "homeosapiens_test"
TEST_DATABASE_URL = "postgres://{{ env.PGUSER }}:{{ env.PGPASSWORD }}@{{ env.PGHOST }}:5432/{{ env.TEST_DATABASE }}"

[tasks."db:seed"]
run = "cd db/seeds && go run ."

[tasks."db:setup"]
run = """
#!/usr/bin/env -S bash -euo pipefail

createdb $PGDATABASE || true
psql -c "alter database $PGDATABASE set timezone to 'UTC'"
goose up
mise r db:seed
"""

[tasks."db:reset"]
run = """
#!/usr/bin/env -S bash -euo pipefail

dropdb $PGDATABASE
mise r db:setup
"""

[tasks."db:test:prepare"]
run = """
#!/usr/bin/env -S bash -euo pipefail

if [[ ! -n "$TEST_DATABASE" ]]; then
  echo "TEST_DATABASE is not set!"
  exit 1
fi

export TEST_DATABASE_URL=postgres://$PGUSER:$PGPASSWORD@$PGHOST:5432/$TEST_DATABASE
export GOOSE_DBSTRING=$TEST_DATABASE_URL
createdb $TEST_DATABASE >/dev/null 2>&1 || true
goose up
cd db/seeds
env DATABASE_URL=$TEST_DATABASE_URL go run .
"""

[tasks.test]
run = """
#!/usr/bin/env -S bash -euo pipefail

mise r db:test:prepare
go test -v ./...
"""

[tasks.format]
run = "scripts/format-classes.mjs tmpl/**/*.go"

[tasks."seeds:build"]
description = "Builds the seed program for use in production"
run = """
#!/usr/bin/env -S bash -euo pipefail

cd db/seeds
GOOS=linux GOARCH=amd64 go build .
"""

[tasks.deploy]
run = "cd scripts && ansible-playbook -v deploy.yml"

[tasks.watch]
run = "npx -y concurrently 'air' 'cd assets && pnpm run dev'"
