[tools]
go = "1.25.3"
"go:github.com/cortesi/modd/cmd/modd" = "latest"
"go:github.com/pressly/goose/v3/cmd/goose" = "latest"
"go:github.com/sqlc-dev/sqlc/cmd/sqlc" = "latest"
node = "25.2.0"
pnpm = "10.22.0"
prettier = "latest"

[env]
PGDATABASE = "homeosapiens_dev"
PGUSER = "postgres"
PGPASSWORD = "postgres"
PGHOST = "localhost"
DATABASE_URL = "postgres://postgres:postgres@localhost:5432/{{ env.PGDATABASE }}"
GOOSE_DBSTRING = "{{ env.DATABASE_URL }}"
GOOSE_DRIVER = "postgres"
GOOSE_MIGRATION_DIR = "db/migrations"
SECRET_KEY_BASE = "YhTVeJ58o+vuYEvASxp68UMydUhvMsAOQZkCmlEeAE/IVJ/WkpjXS0+spVyWttR0ZMs0aKbbx+jkqV7oD9Lp+w=="
TEST_DATABASE = "homeosapiens_test"
TEST_DATABASE_URL = "postgres://{{ env.PGUSER }}:{{ env.PGPASSWORD }}@{{ env.PGHOST }}:5432/{{ env.TEST_DATABASE }}"

[tasks."deploy.staging"]
run = """
jj bookmark set -r @- staging
jj git push --allow-new -r @-
"""

[tasks."db:seed"]
run = "psql $DATABASE_URL -f db/seeds.sql"

[tasks."db:setup"]
run = """
#!/usr/bin/env -S bash -euo pipefail

createdb $PGDATABASE || true
goose up
mise r db:seed
"""

[tasks."db:reset"]
run = """
#!/usr/bin/env -S bash -euo pipefail

dropdb $PGDATABASE
mise r db:setup
"""

[tasks."db:test:prepare"]
run = """
#!/usr/bin/env -S bash -euo pipefail

if [[ ! -n "$TEST_DATABASE" ]]; then
  echo "TEST_DATABASE is not set!"
  exit 1
fi

export TEST_DATABASE_URL=postgres://$PGUSER:$PGPASSWORD@$PGHOST:5432/$TEST_DATABASE
export GOOSE_DBSTRING=$TEST_DATABASE_URL
createdb $TEST_DATABASE || true
goose up
psql $GOOSE_DBSTRING -f db/seeds.sql
"""

[tasks.test]
run = """
#!/usr/bin/env -S bash -euo pipefail

export TEST_DATABASE_URL=postgres://$PGUSER:$PGPASSWORD@$PGHOST:5432/$TEST_DATABASE
export GOOSE_DBSTRING=$TEST_DATABASE_URL

mise r db:test:prepare
go test -v ./...
"""

[tasks.format]
run = "scripts/format-classes.mjs tmpl/**/*.go"
