{{define "content"}}
{{- /*gotype: github.com/moroz/homeosapiens-go/tmpl/email.EventRegistrationEmailProps*/ -}}

    <h2 style="margin: 0 0 16px; text-align: center">{{.T "emails.event_registration_confirmation.heading"}}</h2>

    {{.Translate "emails.user_opening_html" .Data.User}}

    <p>{{.Translate "emails.event_registration_confirmation.body" .Data}}</p>

    {{template "event_card" .}}

    {{template "event_buttons" .}}

{{end}}
