{{define "content"}}
{{- /*gotype: github.com/moroz/homeosapiens-go/tmpl/email.OrderConfirmationEmailProps*/ -}}

    <h2 style="margin: 0 0 16px; text-align: center">{{ .T "emails.order_confirmation.heading" }}</h2>

    <p>{{.T "emails.opening" .Order}}</p>

    <p>{{ .T "emails.order_confirmation.body" }}</p>

    {{template "order_summary" .}}
{{end}}
