{{define "content"}}
{{- /*gotype: github.com/moroz/homeosapiens-go/tmpl/email.OrderEmailProps*/ -}}

    <h2 style="margin: 0 0 16px; text-align: center">{{ .T "emails.payment_confirmation.heading" }}</h2>

    {{.Translate "emails.order_opening_html" .Order}}

    <p>{{ .T "emails.payment_confirmation.body" }}</p>

    {{template "order_summary" .}}

{{end}}
