@import "tailwindcss";

@theme {
	--color-primary-50: var(--color-indigo-50);
	--color-primary-100: var(--color-indigo-100);
	--color-primary-200: var(--color-indigo-200);
	--color-primary-300: var(--color-indigo-300);
	--color-primary-400: var(--color-indigo-400);
	--color-primary-500: var(--color-indigo-500);
	--color-primary-600: var(--color-indigo-600);
	--color-primary-700: var(--color-indigo-700);
	--color-primary-800: var(--color-indigo-800);
	--color-primary-900: var(--color-indigo-900);

	--font-sans: "IBM Plex Sans", system-ui, sans-serif;
	--color-primary: var(--color-blue-900);
	--color-primary-hover: var(--color-blue-700);

	--spacing-header: calc(70 / 4 * var(--spacing));

	--breakpoint-2xl: 64rem;
	--breakpoint-xl: 60rem;

	--shadow-solid: 4px 4px 0px 0px black;
}

@layer base {
	body {
		font-variant-numeric: tabular-nums;
	}

	a:not([class]) {
		@apply text-primary underline underline-offset-2 transform-content hover:text-primary-hover;
	}
}

@layer components {
	.button {
		@apply inline-flex cursor-pointer items-center justify-center rounded-sm bg-primary px-4 py-2 text-center font-bold text-white transition-colors hover:bg-primary-hover;
	}

	.card {
		@apply rounded-lg border-2 bg-white p-6;
	}

	.input-field {
		@apply grid gap-1;
	}

	.input {
		@apply h-10 rounded-sm border-2 px-2;
	}

	.label {
		@apply font-semibold;
	}
}
